.r{
  width: 90%;
  margin: 10px 0 0 60px;
}
table {
  width: 90%;
  margin: 10px 0 0 60px;
  }
.record {
    margin: 0 0 30px 60px;
   }
.search {
  margin: 0 0 30px 20px;
}
*{
  outline:none;
}
.example-button-row {
  display: table-cell;
  width: 490px;
}
.example-button-row {
  margin: 8px 8px 8px 0;
}