  <br />
  <br />
  <section *ngIf="Auth.loggedIn()">
    <div class="example-button-row">
      <button class="record" (click)="addRecords()" mat-raised-button color="primary">
        Добавить запись
      </button>
      <button class="search" routerLink="/search" mat-raised-button color="primary">
        Поиск
      </button>
    </div>
    </section>
   
  <table mat-table [dataSource]= "records" class="mat-elevation-z8" *ngIf="Auth.loggedIn()">
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>№</th>
      <td mat-cell *matCellDef="let element" routerLink="/details/{{element.id}}">
        {{ element.id }} 
      </td>
    </ng-container>
  
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Заголовок(title:)</th>
      <td mat-cell *matCellDef="let element" routerLink="/details/{{element.id}}">{{ element.title }}</td>
    </ng-container>
  
    <ng-container matColumnDef="body">
      <th mat-header-cell *matHeaderCellDef>Описание(body:)</th>
      <td mat-cell *matCellDef="let element" routerLink="/details/{{element.id}}">
        {{ element.body }}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="changeRecord(element)">
          <span class="material-icons"> create </span>
        </button>
        &nbsp;
        <button mat-icon-button color="warn" (click)="removeRecord(element)">
          <span class="material-icons"> delete </span>
        </button>
      </td>
    </ng-container> 
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  
  <!--<ul>
    <li *ngFor="let main of records">
      {{main.title}}
    </li>
  </ul>-->