<div *ngIf="Record" class="all">
    <h2>Подробнее о пользователе<a class="color"> № {{Record.id}}</a></h2>
    <div class="example-container" >
    <section>
        <mat-form-field appearance="fill">
            <mat-label class="mat" >Номер пользователя(id:) </mat-label>
          <textarea matInput readonly matTextareaAutosize [(ngModel)]="Record.id" placeholder="id"></textarea>
        </mat-form-field>
    </section>
    <mat-divider></mat-divider>
    <section>
        <mat-form-field appearance="fill">
            <mat-label>Категория пользователя(UserId:) </mat-label>
          <textarea matInput readonly matTextareaAutosize [(ngModel)]="Record.userId" placeholder="userId"></textarea>
        </mat-form-field>
    </section>
    <mat-divider></mat-divider>
    <section>
        <mat-form-field appearance="fill">
            <mat-label class="mat" >Заголовок(title:) </mat-label>
          <textarea matInput readonly matTextareaAutosize [(ngModel)]="Record.title" placeholder="title"></textarea>
        </mat-form-field>
    </section>
    <mat-divider></mat-divider>
    <section>
        <mat-form-field appearance="fill">
            <mat-label class="mat" >Описание(body:) </mat-label>
          <textarea matInput readonly matTextareaAutosize [(ngModel)]="Record.body" placeholder="body"></textarea>
        </mat-form-field>
    </section>
    <mat-divider></mat-divider>
  </div>
  <div>

    <table mat-table [dataSource]= "dataSource" class="mat-elevation-z8" >
    
      <ng-container matColumnDef="postId">
        <th mat-header-cell *matHeaderCellDef>ID<pre></pre></th>
        <td mat-cell *matCellDef="let element" >
          {{ element.postId }} 
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>№<pre></pre></th>
        <td mat-cell *matCellDef="let element" >
          {{ element.id }} 
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Имя<pre></pre></th>
        <td mat-cell *matCellDef="let element" >
          {{ element.name }} 
        </td>
      </ng-container>
    
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>email<pre></pre></th>
        <td mat-cell *matCellDef="let element" >{{ element.email }}</td>
      </ng-container>
    
      <ng-container matColumnDef="body">
        <th mat-header-cell *matHeaderCellDef>Описание<pre></pre></th>
        <td mat-cell *matCellDef="let element">
          {{ element.body }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div class="example-form">
    <button mat-raised-button color="primary" (click)="goBack()">Назад</button>
    </div>