.example-card {
  max-width: 650px;
  text-align: center;
  border-radius: 15px;
}
.form {
  padding: 5% 0 0 20%;
}
input[type="file"] {
  color: transparent;
}
.full-width {
  width: 70%;
  margin: 0 0 0 120px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.ok {
 padding: 20px 0 30px 0px;
}
.title {
  padding: 10px 0 0 150px;
}
mat-form-field.mat-form-field {
  text-size-adjust: 20px;
}
