.search-result li {
  border-bottom: 0.5px solid rgb(0, 0, 0);
  border-left: 0.5px solid rgb(0, 0, 0);
  border-right: 0.5px solid rgb(0, 0, 0);
  width: 280px;
  height: 32px;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}

.search-result li:hover {
  background-color: rgba(97, 98, 172, 0.712);
}

.search-result li a {
  color: rgb(24, 22, 22);
  display: block;
  text-decoration: none;
}

.search-result li a:hover {
  color: rgb(22, 20, 20);
}

.search-result li a:active {
  color: rgb(22, 20, 20);
}

#search-box {
  width: 200px;
  height: 20px;
}

ul.search-result {
  margin-top: 0;
  padding-left: 40px;
}

a {
  min-width: 300px;
}
h2 {
  padding: 20px 0 10px 40px;
}
.input {
  padding: 0 0 10px 50px;
}
.back {
  margin: 0 40px 10px 350px;
}
